/**
 * Float Layout Activity
 **/

/**This is setting everything in their boxes at the center **/
 * {
  box-sizing: border-box;
  text-align: center;
}

/** This adds uniform font, line height and font folor to your whole <body> </body> section **/
body {
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background: #eee;
}

/** Added width 33.3%**/
#left {
  background: teal;
  width: 33.3%;
  float: left;
}

#middle {
  background: red;
  width: 33.3%;
  float: left;
}

#right {
  background: teal;
  width: 33.3%;
  float: left;
}

#full {
  width: 100%;
  overflow: auto;
  clear: both;
  background: #999;
  padding: 50px;
}

#division {
  background: royalblue;
  margin-top: 20px;
  padding: 20px;
}

.clearfix::after{
  content:"";
  clear: both;
  display: block;
}

aside {
  float: left;
  width: 33%;
  border: 1px solid white;
  background: lightgreen;
  padding: 60px;
}

footer {
  background: white;
}
